/*  Put your CSS Here */

.blueHeader {
  background-color: rgb(83, 83, 172);
  width: 850px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid black;
}

.whiteSpaceBelow {
  background-color: white;
  border: 1px solid grey;
  margin: 0 auto;
  width: 850px;
  height: 50px;
}

.introWords {
  float: left;
  position: relative;
  bottom: 130px;
  left: 275px;
}

.introWords h1 {
  color: white;
  margin: 5px;
}

.introWords h2 {
  color: white;
  font-weight: normal;
  margin: 0;
}

.likeButton {
  text-align: right;
  margin-right: 10px;
  background-color: white;
  float: right;
  position: relative;
  top: 215px;
  right: 10px;
  padding: 5px;
  border: 0 solid black;
  border-radius: 3px;
}

.blueProfileBox {
  width: 140px;
  height: 140px;
  background-color: rgb(83, 83, 172);
  border: 1px solid black;
  float: left;
  position: relative;
  bottom: 110px;
  left: 265px;
}

.moreStuff {
  text-align: right;
  background-color: white;
  float: right;
  position: relative;
  top: 215px;
  right: 10px;
  padding: 5px;
  border: 0 solid black;
  border-radius: 3px;
}

.followButton {
  text-align: left;
  display: inline;
  padding: 5px;
}

.messageButton {
  text-align: left;
  display: inline;
  padding: 5px;
  border-left: 1px solid grey;
}

.dotsOtherButton {
  text-align: left;
  display: inline;
  padding: 5px;
  border-left: 1px solid grey;
}

.timelineButton {
  float: left;
  position: relative;
  right: -50px;
  bottom: 50px;
  padding: 5px;
  margin: 5px;
}

.timelineButton:hover,
.aboutButton:hover,
.welcomeButton:hover,
.FWBbutton:hover,
.moreButton:hover {
  font-weight: bold;
}

.aboutButton {
  float: left;
  position: relative;
  right: -50px;
  bottom: 50px;
  padding: 5px;
  margin: 5px;
}

.welcomeButton {
  float: left;
  position: relative;
  right: -50px;
  bottom: 50px;
  padding: 5px;
  margin: 5px;
  border-left: 1px solid grey;
}

.FWBbutton {
  float: left;
  position: relative;
  right: -50px;
  bottom: 50px;
  padding: 5px;
  margin: 5px;
  border-left: 1px solid grey;
}

.moreButton {
  float: left;
  position: relative;
  right: -50px;
  bottom: 50px;
  padding: 5px;
  margin: 5px;
  border-left: 1px solid grey;
}

.leftColumn {
  width: 328px;
  margin-right: 10px;
  float: left;
  position: absolute;
  top: 320px;
  background-color: white;
}

.aboutPage {
  border: 1px solid grey;
  font-weight: bold;
}

.aboutPage > p {
  font-weight: normal;
}

.rightColumn {
  width: 512px;
  min-height: 250px;
  margin-left: 10px;
  float: left;
  position: absolute;
  top: 320px;
  left: 587px;
  background-color: white;
}

.smallBlueBoxProfile {
  width: 50px;
  height: 50px;
  background-color: rgb(83, 83, 172);
  float: left;
  position: relative;
  top: 7px;
  left: 7px;
}

.commentorName {
  position: relative;
  left: 10px;
}

.commentBox1 {
  border: 1px solid grey;
}
